<!-- Header -->
<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a  href="#/moviedefault" class="navbar-brand" rel="home" >
                <img class="logo_film"
                     src="./img/film_nerd_logo.jpg">
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">

            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input ng-model = "model.movieName"
                           type="text"
                           class="form-control"
                           placeholder="Enter a movie name">
                </div>

                <a href ="#/search/{{model.movieName}}"
                   type="submit" class="btn btn-default">Submit</a>
            </form>

        </div>
    </div>
</nav>


<!--Body-->

<div class="container pushdown">
    <h2>Flagged Reviews</h2>

    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>

                <th>User</th>
                <th>Review Text</th>
                <th>Remove</th>

            </tr>
            </thead>

            <!-- Table Body-->
            <tbody ng-repeat="review in model.results">
            <tr ng-if="review.visible='true'">
                <td>{{review.username}}</td>
                <td>{{review.text}}</td>
                <td><a  type="button " ng-click="model.removeReview(review._id)"
                        class=" reportbutton btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-remove "> Remove</span>
                    </a>
                    <a  type="button " ng-click="model.donotremoveReview(review._id)"
                        class=" reportbutton btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-ok "> Keep </span>
                    </a>
                </td>

            </tr>
            </tbody>

        </table>
    </div>
</div>


<!-- Footer -->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a
                    ng-click="model.logout()">
                <span>Logout</span>
            </a>

        </p>
        <p class="navbar-text pull-left">

            <a  href="#/adminconsole">
                <span>Admin Console</span>
            </a>
        </p>

    </div>
</nav>








