

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" >Film Nerd</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#/login">Login</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#/register">Register</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>



    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Film Nerd</h2>
                    <hr class="light">
                    <p class="text-faded">Welcome to Film Nerd. A place where all the movie fans can browse for their favorite films.
                        You can check out movies playing near you by ratings.
                        You can rate, review movies, follow your favorite movie reviewer(s).
                        Check Out everything about the film. (Genre, Runtime, release data, cast.)</p>
                    <a href="#search" class="page-scroll btn btn-default btn-xl sr-button">Let's Get Started</a>
                    <!--<form class="navbar-form navbar-left" role="search">-->
                        <!--<div class="form-group">-->
                            <!--<input type="text" class="form-control" placeholder="Enter a movie name">-->
                        <!--</div>-->
                        <!--<button type="submit" class="btn btn-default">Submit</button>-->
                    <!--</form>-->
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Using Film Nerd, you can..</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa fa-video-camera text-primary sr-icons"></i>
                        <h3>Check movies shown around you</h3>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-thumbs-up text-primary sr-icons"></i>
                        <h3>Rate and review movies</h3>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-user-plus text-primary sr-icons"></i>
                        <h3>Follow popular reviewers</h3>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                        <h3>Check out the actors of a film</h3>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Interested?</h2>
                <a href="#/login" class="btn btn-default btn-xl sr-button">Login</a>
                <a href="#/register" class="btn btn-default btn-xl sr-button">Register</a>
                <a href="#" class="btn btn-default btn-xl sr-button">Google</a>
            </div>
        </div>
    </aside>

    <!--TEST-->