
<!-- Header -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" rel="home" >
                <img style="max-width:50px; margin-top: -17px; margin-left: -15px;"
                     src="img/film_nerd_logo.PNG">
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">

            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter a movie name">
                </div>
                <a href ="#/search"
                        type="submit" class="btn btn-default">Submit</a>
            </form>

        </div>
    </div>
</nav>


<!--Body-->

<div class="container">
    <h1>Register</h1>


    <div ng-if="model.error"
         class="alert alert-danger">
        {{model.error}}
    </div>


    <form novalidate name="model.myform">
        <input ng-model="username"
               name="username"
               placeholder="username"
               type="text"
               class="form-control"
               required/>
       <span class="alert-class"
             ng-show="model.myform.username.$invalid">{{model.alert}}</span>
        <p></p>

        <input ng-model="password"
               placeholder="password"
               name="password"
               type="password"
               class="form-control"
               required/>
    <span class="alert-class"
          ng-show="model.myform.password.$invalid">{{model.alert}}</span>
        <p></p>
        <input ng-model="vpassword"
               name="vpassword"
               placeholder="verify password"
               type="password"
               class="form-control"
               required/>
    <span class="alert-class"
          ng-show="model.myform.vpassword.$invalid">{{model.pwmatch}}</span>
<p></p>
        <a class="btn btn-primary btn-block"
              href="#/profile"
                type="submit">Register</a>
        <!--ng-click="model.createUser(model.user)">Register</a>-->
    </form>

    <p> </p>
    <a class="btn btn-danger btn-block"
       href="#/login">Cancel</a>

</div>



<!-- Footer -->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#/login">
                <span>Login</span>
            </a>
        </p>
        <p class="navbar-text pull-left">

            <span>Already registered? Please </span>
            </a>
        </p>

    </div>
</nav>


