
<!-- Header -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a  href="#/moviedefault" class="navbar-brand" rel="home" >
                <img class="logo_film"
                     src="./img/film_nerd_logo.jpg">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/moviedefault">Home</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- End of Header-->

<!--Body-->
<div class="container-fluid pushdown">
    <div class="container-fluid">
        <!-- Search Box -->
        <div class="input-group">
            <input ng-model = "model.movieName"
                   type="text"
                   placeholder="enter movie name.. Eg: Inception"
                   class="form-control ng-pristine ng-valid ng-touched">
               <span class="input-group-btn ">
                   <a href ="#/search/{{model.movieName}}"
                      class="btn btn-info makegray"
                      type="button">
                       <span class="glyphicon glyphicon-search"></span>
                   </a>
                </span>
        </div>

    <p></p>
    <div class="row">
        <div class="col-xs-10 col-sm-4 myplaceholder">
            <img class="img img-responsive profile"
                 ng-src="https://image.tmdb.org/t/p/w300{{model.actor.profile_path}}">
        </div>
        <div class="col-xs-12 col-sm-8 myplaceholder">
            <h2 class="page-header"><b>{{model.actor.name}}</b></h2>
            <h4><b>Actor</b></h4>
            <h2></h2>
            <h5><b>Date of Birth:</b> {{model.actor.birthday | date:'MMM d, y' }}</h5>
            <h3></h3>
            <h5><b>Place of Birth:</b> {{model.actor.place_of_birth}}</h5>
        </div>
    </div>

    <!-- Biography-->
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <h2 class="page-header"><b>Biography</b></h2>
            <p class="justifytext">{{model.actor.biography}}</p>
        </div>
    </div>

    <!-- Noted Movies -->
    <div class="row  ">
        <div class="col-xs-12 col-sm-12">
            <h3 class="page-header"><b>Noted for roles in</b></h3>
            <h2></h2>
            <ul class="list-inline">
                <li class="w92" ng-repeat="movie in model.actor.movie_credits.cast" ng-if="movie.poster_path">
                    <a href="#/movie/{{movie.id}}">
                        <img ng-src="https://image.tmdb.org/t/p/w92{{movie.poster_path}}"></a>
                    <h5 class="title" href="#/movie/{{movie.id}}">{{movie.title}}</h5>
                </li>
            </ul>
        </div>
    </div>


</div>

</div>

<!-- Footer -->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a ng-if="model.loggedIn"
               ng-click="model.logout()">
                <span>Logout</span>
            </a>
            <a ng-if="model.notloggedIn"
               href="#/login">
                <span>Login</span>
            </a>
        </p>
        <p class="navbar-text pull-left">
            <a ng-if="model.loggedIn"
               href="#/profile">
                <span>Profile</span>
            </a>
            <a ng-if="model.notloggedIn"
               href="#/register">
                <span>Register</span>
            </a>
        </p>
    </div>
</nav>

