

<!-- Header -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a  href="#/moviedefault" class="navbar-brand" rel="home" >
                <img class="logo_film"
                     src="./img/film_nerd_logo.jpg">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/moviedefault">Home</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- End of Header-->


<!--Body-->
<!--Movies around you-->

<!--Body-->

<div class="container-fluid pushdown">
    <div class="container-fluid">
        <!-- Search Box -->
        <div class="input-group">
            <input ng-model = "model.movieName"
                   type="text"
                   placeholder="enter movie name.. Eg: Inception"
                   class="form-control ng-pristine ng-valid ng-touched">
               <span class="input-group-btn ">
                   <a href ="#/search/{{model.movieName}}"
                      class="btn btn-info makegray"
                      type="button">
                       <span class="glyphicon glyphicon-search"></span>
                   </a>
                </span>
        </div>
    </div>

    <div class=" col-sm-11   col-md-11   main">
    <h3>Movies Playing Around you</h3>
    <div class="row placeholders">
        <div class="col-xs-12 col-sm-6 col-md-4 placeholder" ng-repeat="movie in model.nowPlaying" ng-if="movie.poster_path">
            <div class="thumbnail">
                <div class="embed-responsive embed-responsive-4by3">
                    <!--<iframe ng-src="{{movie.video_url}}"></iframe>-->
                    <a ng-if="!movie.video_url"
                       href="#/movie/{{movie.id}}">
                        <img ng-src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}">
                    </a>
                </div>
                <div class="caption">
                    <a href="#/movie/{{movie.id}}">
                        <h4 class="smallheader">{{movie.title| limitTo:30}}</h4>
                    </a>
                    <!--<a ng-model="movie.criticsRating" ng-init="movie.criticsRating=(movie.vote_average/2)">-->
                    <!--User Rating: {{movie.criticsRating}}-->
                    <!--</a>-->
                    <div ng-model="movie.criticsRating"
                         ng-init="movie.criticsRating=(movie.vote_average/2)" class="meter">
                        <p> <h5 class="rating">Rating : {{movie.criticsRating}}</h5>
                            <meter class="meter" min="0" max="5" value="{{movie.criticsRating}}"></meter>
                        </p>
                    </div>
                    <h4 class="smallheader">
                        <span ng-repeat="id in movie.genre_ids | limitTo:2">
                            <span class="label label-default label-as-badge" >
                                {{model.genreName(id)}}
                            </span>&nbsp;&nbsp;
                        </span>
                        <br ng-if="movie.genre_ids.length==0"/>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Upcoming Movies-->

<div class="col-sm-11   col-md-11   main">
    <h3 class="page-header">Upcoming Movies</h3>
    <div class="row placeholders">
        <div class="col-xs-12 col-sm-6 col-md-4 placeholder"
             ng-repeat="movie in model.upcoming"
             ng-if="movie.poster_path">
            <div class="thumbnail">
                <div class="embed-responsive embed-responsive-4by3">
                    <a ng-if="!movie.video_url" href="#/movie/{{movie.id}}">
                        <!--POSTER-->
                        <img class="img img-responsive"
                             ng-src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}">
                    </a>
                </div>
                <div class="caption">
                    <a href="#/movie/{{movie.id}}"><h4 class="smallheader">{{movie.title| limitTo:35}}</h4></a>
                    <h5 class="rating">Release Date: {{movie.release_date | date:'MMM d, y'}}</h5>
                    <h4 class="smallheader">
                        <span ng-repeat="id in movie.genre_ids | limitTo:2">
                            <span class="label label-default label-as-badge" >
                                {{model.genreName(id)}}
                            </span>&nbsp;&nbsp;
                        </span>
                        <br ng-if="movie.genre_ids.length==0"/>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!--Body End-->

<!-- Footer -->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a ng-if="model.loggedIn"
               ng-click="model.logout()">
                <span>Logout</span>
            </a>
            <a ng-if="model.notloggedIn"
               href="#/login">
                <span>Login</span>
            </a>
        </p>
        <p class="navbar-text pull-left">
            <a ng-if="model.loggedIn"
               href="#/profile">
                <span>Profile</span>
            </a>
            <a ng-if="model.notloggedIn"
               href="#/register">
                <span>Register</span>
            </a>
        </p>

    </div>
</nav>

