<!--<img href="../../../project/img/film_info_background.jpg" height="100%">-->

<!-- Header -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a  href="#/moviedefault" class="navbar-brand" rel="home" >
                <img class="logo_film"
                     src="./img/film_nerd_logo.jpg">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/moviedefault">Home</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- End of Header-->


<!--Body-->
<div class="container pushdown">
    <div class="input-group">
        <input ng-model = "model.movieName"
               type="text"
               placeholder="enter movie name.. Eg: Inception"
               class="form-control ng-pristine ng-valid ng-touched">
               <span class="input-group-btn ">
                   <a href ="#/search/{{model.movieName}}"
                      class="btn btn-info makegray"
                      type="button">
                       <span class="glyphicon glyphicon-search"></span>
                   </a>
                </span>
    </div>



     <!--Movie Name -->
    <h3 ><b>{{model.movie.title}} ({{model.movie.release_date  | date: 'yyyy'}})</b></h3>

    <!-- Movie Genre and Release Date-->
    <div class="row">
        <div class="col-xs-6">
            <h4  class="page-header"><b>Genre</b></h4>
            <h5 ng-repeat="genre in model.movie.genres | limitTo:2">
                {{genre.name}}
            </h5>
        </div>

        <div class="col-xs-6">
            <h4  class="page-header"><b>Release Date</b></h4>
            <div ng-if="!model.released">
                <br/><br/><br/>
            </div>

            <h5 ng-bind="model.movie.release_date | date: 'mediumDate'"></h5>
        </div>
    </div>

    <p></p>

    <!-- IMDB Rating and Film Nerd Rating -->

    <div class="row">
        <div class="col-xs-6">
            <h4  class="page-header"><b>IMDB critics Rating</b></h4>
            <div ng-model="model.movie.criticsRating"
                 class="meter">

                <meter class="meter" min="0" max="5" value="{{model.movie.criticsRating}}"></meter>
                <p> <h5 class="rating">{{model.movie.criticsRating}}</h5>
                </p>
            </div>
        </div>

        <div class="col-xs-6">
            <h4  class="page-header"><b>FilmNerd Rating</b></h4>
            <div ng-model="model.movie.usersRating"
                 class="meter">

                <meter class="meter" min="0" max="5" value="{{model.avgRating}}"></meter>
                <p> <h5 class="rating">{{model.avgRating}}</h5>
                </p>
            </div>

        </div>
    </div>
    <p></p>
    <div class="row">
        <div class="col-sm-3">
            <!-- Movie Poster-->
            <div class="fill">
                <img class="img paddingtop20" ng-src="https://image.tmdb.org/t/p/w300/{{model.movie.poster_path}}">
            </div>
                <!--<img class="img img-responsive profile" ng-src="https://image.tmdb.org/t/p/w300/{{model.movie.poster_path}}">-->

        </div>

        <p></p>
        <!-- Youtube Trailer-->
        <div class="col-sm-9">
            <div class="video-container">
                <iframe  width = "100%"
                         ng-src="{{model.movie.video_path}}"
                         frameborder="0" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>

    <!-- Movie Summary-->
    <div class="row">
        <div class="col-xs-12">
            <h3 class="page-header">Summary</h3>
            <p class="justifytext">{{model.movie.overview}}</p>
        </div>
    </div>

    <!-- Cast of the Movie -->
    <div class="row">
        <div class="col-xs-12 ">
            <h3 class="page-header">Cast</h3>
            <h2></h2>
            <ul class="list-inline">
                <li class="w92"  ng-repeat="actor in model.movie.credits.cast"
                    ng-if="actor.profile_path">
                    <a href="#/cast/{{actor.id}}">
                        <img ng-src="https://image.tmdb.org/t/p/w92{{actor.profile_path}}"></a>
                    <a class="title makeblack" href="#/cast/{{actor.id}}">{{actor.name}}</a>
                    <!-- replace p with a to move to cast page -->
                </li>
            </ul>
        </div>
    </div>

    <p></p>

    <!-- Error pops up if user tries to sumbit review for the second time-->
    <div ng-if="model.error"
         class="alert alert-danger">
        {{model.error}}
    </div>

    <!-- ALert pops up if a non Logged in user tries to post a review -->
    <div ng-if="model.notLoggedInError"
         class="alert alert-danger">
        {{model.notLoggedInError}}
    </div>

    <!-- Logged Out User sees this -->
    <a ng-if="model.notloggedIn" class="btn btn-success btn-block"
       ng-click="model.giveError()">Rate and Review this movie</a>



    <!-- Logged in User sees this -->
    <a  ng-if="model.loggedIn" class="btn btn-success btn-block"
       ng-click="model.reviewPage()">Rate and Review this movie</a>


    <!-- User Reviews Section -->
    <p></p>
    <div ng-if="model.givecheckoutusererror"
         class="alert alert-danger">
        {{model.givecheckoutusererror}}
    </div>
    <h3 class="page-header">User Reviews</h3>

        <div   ng-repeat = "rev in model.movieInfo.reviews" >
            <div ng-if = "rev.visible=='true'">
            <div class="row">
                <!-- Username -->
                <div  ng-if="model.loggedIn" class="col-xs-9">
                    <a href="#/user/profile/{{rev.username}}">
                        <h3 class="glyphicon glyphicon-user makeblack"> {{rev.username}}
                        </h3>
                     </a>
                </div>
                <div  ng-if="model.notloggedIn" class="col-xs-9">
                    <a ng-click="model.needtoLoginforProfile()">
                        <h3 class="glyphicon glyphicon-user makeblack"> {{rev.username}}
                        </h3>
                    </a>
                </div>



              <!-- Report Button-->
                <a  type="button " ng-click="model.reportReview(rev._id)"
                    class=" reportbutton btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-exclamation-sign  "></span> Report
                </a>

            </div>


                <!--Review text-->
            <div  class="row">
                <div class="col-xs-12">
                <p>{{rev.text}}</p>
                </div>
            </div>


        </div>

        </div>

    </div>

    <!-- Footer -->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a ng-if="model.loggedIn"
               ng-click="model.logout()">
                <span>Logout</span>
            </a>
            <a ng-if="model.notloggedIn"
               href="#/login">
                <span>Login</span>
            </a>
        </p>
        <p class="navbar-text pull-left">
            <a ng-if="model.loggedIn"
               href="#/profile">
                <span>Profile</span>
            </a>
            <a ng-if="model.notloggedIn"
               href="#/register">
                <span>Register</span>
            </a>
        </p>

    </div>
</nav>


