

<!--Header-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!--Left arrow-->
        <p class="navbar-text pull-left">
            <a href="#/user/:uid/website/:wid/page/:pid/widget" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </p>
        <span>
        <!--heading on the nav bar-->
        <p class="navbar-header pull-left">
            <a class="navbar-brand thick">
                <b>Widget Edit</b>
            </a>
        </p>
        </span>
        <!--tick mark-->
        <p class="navbar-text pull-right">
            <a href="#/user/:uid/website/:wid/page/:pid/widget" class="navbar-link">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </p>

    </div>
</nav>

<!--Content of the webpage-->
<div class="container-fluid">
    <form>
        <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" class="form-control" id="Name" placeholder="Name">
        </div>

        <div class="form-group">
            <label for="Title">Text</label>
            <input type="text" class="form-control" id="Title" value="Us Senate reaches" placeholder="enter the text">
        </div>

        <div class="form-group">
            <label for="sel1">Size</label>
            <select class="form-control" id="sel1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
            </select>
        </div>

    </form>

    <a class="btn btn-danger btn-block "
       href="#/user/:uid/website/:wid/page/:pid/widget">Delete</a>


</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#/user/:uid">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>

    </div>
</nav>
